* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bc-header: #8E9AAF;
  --bc-h1: #CBC0D3;
  --bc-main: #EFF1FF;

  --ff-tittle-main: 'Staatliches', cursiva;
  --ff-p: 'Palanquin', sem serifa;

  font-size: 62.5%;
}

header {
  background-color: var(--bc-header);
  text-align: center;
  padding-top: 3.2rem;
  padding-bottom: 2.9rem;
}

header .tittle {
  background-color: var(--bc-h1);
  padding: 0.8rem;
  margin-top: 1.5rem;
}

header .tittle h1 {
  color: white;
  font-family: var(--ff-tittle-main);
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.page {
  width: 32rem;
  text-align: center;
  margin: auto;
  padding-top: 1.4rem;
}

.page p {
  max-width: 50rem;
  margin: auto;
  font-family: var(--ff-p);
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.container {
  display: grid;
  gap: 3.2rem;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.container img {
  width: 100%;
  height: auto;
}

.card {
  position: relative;
}

.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  color: #4A4E69;
  background-color: white;
  border-radius: 2rem;
  padding: 0.1rem 2.4rem;
  text-transform: uppercase;
  font-family: var(--ff-tittle-main);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  animation-name: topdown;
  animation-duration: 700ms;
}

#card1 img {
  height: 25rem;
  object-fit: cover;
  border-radius: 2rem;
}

.card img {
  height: 45rem;
  object-fit: cover;
  border-radius: 2rem;

  animation-name: downtop;
  animation-duration: 700ms;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .page {
    width: 100%;
    padding: 5rem;
  }
  
  #card1 img {
   height: 45rem; 
  }
}

@media (min-width: 930px) {
  
  .container {
      grid-template-areas: "A B B"
      "C C D";
    }
  
    .container div:nth-child(1) {
      grid-area: A;
    }
  
    main div:nth-child(2) {
      grid-area: B;
    }
  
    .container div:nth-child(3) {
      grid-area: C;
    }
  
    .container div:nth-child(4) {
      grid-area: D;
    }
  }