* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #8E9AAF;
  --tittle: #CBC0D3;
  --bg-main: #EFF1FF;
  --ff-tittle: 'Staatliches', cursive;
  --ff-p: 'Palanquin', sans-serif;

  font-size: 62.5%;
}

body {
  font-family: var(--ff-p);
  background: #EFF1FF;
}

.page {
  max-width: 38rem;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .page {
    max-width: 115rem;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  
  background-color: var(--bg);
  
  padding-bottom: 2.9rem;
}

header .tittle {
  background-color: var(--tittle);
  
  width: 100%;
  height: 4.9rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: white;
  text-align: center;
  font-family: var(--ff-tittle);
  line-height: 3.4rem;
  font-size: 4rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
}

header img {
  margin-top: 3.2rem;
}

main {
  display: grid;
  width: 32rem;
  margin: auto;
  text-align: center;
  padding-top: 1.4rem;
}

main p {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 0.04rem;
}

.container {
  display: grid;
  gap: 3.2rem;
  padding-bottom: 3.2rem;
}

.card {
  position: relative;
}

#card1 img {
  height: 25rem;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2rem;
  transition: transform 200ms;
  animation-name: downtop;
  animation-duration: 1.3s;
}

.card img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  color: #4A4E69;
  background: #FEEAFA;
  border-radius: 20px;
  width: 11.2rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-tittle);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  animation-name: topdown;
  animation-duration: 1.3s;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  100% {
    opacity: 1;
    transform: translateY();
  }

  0% {
    opacity: 0;
    transform: translateY(15px);
  }
}







