body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#container {
  width: 626px;
  height: 100vh;
  margin: auto;
  padding: 5px;
  text-align: center;
}

h1 {
  color: #3F3D56;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 16px;
}

h1 span {
  color: #EE24FF;
  font-weight: bold;
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}

p span {
  font-weight: bold;
}

strong {
  color: #3F3D56;
}

footer {
  margin: 64px auto 0;
  text-align: center;
}

a + a {
  margin-left: 50px;
}

a {
  color: #3F3D56;
  font-size: 15px;
  text-decoration: none;
}

footer img {
  display: block;
  margin: 40px auto 0;
  text-align: center;
}